# Web server
fastapi >= 0.97.0
uvicorn[standard] >= 0.22.0
aiofiles
python-dotenv
requests

# video processing
opencv-python
numpy
ffmpeg-python

# llava
# -----
torch == 2.4.0
torchvision == 0.19.0
transformers == 4.37.2
sentencepiece == 0.2.0
bitsandbytes
tokenizers == 0.15.2
protobuf
accelerate == 0.33.0

# MAE
# ---
timm == 1.0.7

# DINO
# ----
# only pytorch

# pose estimation
# ---------------
mediapipe == 0.10.14
ultralytics == 8.2.66

# sign2vec
# --------
# transformers and torch
