# Web server
fastapi >= 0.97.0
uvicorn[standard] >= 0.22.0
aiofiles

# video processing
opencv-python
numpy

# llava
# -----
torch >= 2.1.2
torchvision >= 0.16.2
transformers >= 4.37.2
sentencepiece >= 0.1.99
bitsandbytes
tokenizers >= 0.15.1
protobuf
accelerate >= 0.21.0

# MAE
# ---
# torch >= 2.2.0 # works ok with the older 2.1 pytroch version from llava
timm >= 0.9.16

# DINO
# ----
# TODO

# pose estimation
# ---------------
mediapipe >= 0.10.14
ultralytics >= 8.2.18

# sign2vec
# --------
# just transformers, probbably...
